@model AwesomeApp.Models.AddProducts.AddProductViewModel

@{
    ViewBag.Title = "title";
}
@Styles.Render("~/Detail/css")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <label class="col-md-1">Name: </label>
        <div class="col-md-3">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <label class="col-md-1">Price: </label>
        <div class="col-md-3">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <label class="col-md-1">Category: </label>
        <div class="col-md-3">
            @Html.DropDownListFor(model => model.Categories, new SelectList(Model.Categories, "Id", "Name"), new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Categories, "", new { @class = "text-danger" })
        </div>
    </div>
}
<a href="@Url.Action("Index")">Back</a>