@model AwesomeApp.Models.IndexViewModels.IndexViewModel

@{
    ViewBag.Title = "Products";
}

@Scripts.Render("~/Index")
@Styles.Render("~/Index/css")

<button type="button" class="btn btn-default">
    <a href="@Url.Action("AddProduct")">Create new</a>
</button>

<div class="row">
    <div class="row table-header">
        <div class="col-md-3">Name</div>
        <div class="col-md-3">Price</div>
        <div class="col-md-3">Category</div>
        <div class="col-md-3">Actions</div>
    </div>
    <div class="col-md-12">
        @foreach (var product in Model.Products)
        {
            <div class="row table-row">
                <div class="col-md-3 text-cell">@product.Name</div>
                <div class="col-md-3 text-cell">@product.Price</div>
                <div class="col-md-3 text-cell">@product.Category.Name</div>
                <div class="col-md-3 actions">
                    <i class="glyphicon glyphicon-edit edit"></i>
                    <i class="glyphicon glyphicon-trash delete"></i>
                </div>
            </div>
        }
    </div>
</div>